@import url('https://fonts.googleapis.com/css?family=Sofia&effect=fire');
body{
    margin: 0px;
}
.cl1{
    /* border-top-width: 10px;
    border-top-color: brown;
    border-top-style: double;
    border-top: 5px solid brown;
    border-bottom: 10px dashed blue;
    border-width: 10px;
    border-color: blue;
    border-style: dotted; */
    border: 1px solid black;
    /* border-left-width: 10px; */
    border-radius: 15px;
    width: 500px;
    height: 200px;
    /* padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 50px; */
    padding: 10px 15px 25px 10px;
/*  padding: (top) (right) (bottom) (left)    */
    margin: 0px;
    /* background */
    background-color: beige;
    background-image: url("/images/im1.jpg");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
    /* background: burlywood url("/images/Logo/ss.png") no-repeat top center; */

    /* text */
    color: darkblue;
    text-align: justify;
    /* text-decoration: underline; */

    /* font */
    font-size: large;
    font-weight: normal;
    font-style: italic;
    
}
.cl2{
    border: 1px solid blue;
    /* width: 500px;
    height: 500px; */
    border-radius: 50px;
    font-family: "Sofia", sans-serif;
    
}
.cl3{
    border: 1px solid black;    
    height: 400px;
    background-color: bisque;
    padding: 20px;
    display: none;
}
.cl4{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    background-color: red;
    position: sticky;
    top: 0px;
    float: left;
}

#first{
    
    height: 300px;
    background-color: aquamarine;
}

@media (max-width:600px) {
    #first{
        display: none;
    }
}